<div class="mt-6">
  <h2 class="text-xl font-bold mb-4">Résultats {{ adresses.length }}</h2>
  <div class="overflow-x-auto">
    <div class="flex gap-4 pb-4">
      @for (adresse of adresses; track adresse.id) {
        <div
          class="min-w-[300px] border rounded-lg p-4 shadow bg-white cursor-pointer"
          (click)="selectionnerAdresse(adresse)">
          @if (adresseFormatter.isComplementLogement(adresse.rep)) {
            <div>
              {{ adresseFormatter.buildLine1(adresse.rep) }}
            </div>
          }

          <div>{{ adresseFormatter.buildLine2(adresse.type_position) }}</div>
          <div>
            {{ adresseFormatter.buildLine3(adresse.numero,adresse.rep,adresse.nom_afnor) }}
          </div>

          @if (adresse.nom_ld) {
            <div>{{ adresseFormatter.buildLine4(adresse.nom_ld) }}</div>
          }
          <div>
            {{ adresseFormatter.buildLine5(adresse.code_postal,adresse.libelle_acheminement) }}
          </div>
        </div>
      }@empty {
        <tr>
          <td colspan="23" class="px-4 py-4 text-center text-gray-500">
            Aucun résultat
          </td>
        </tr>
      }

    </div>
  </div>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [hidePageSize]="true"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
